/*
 * Copyright The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
-- -- -- -- -- -- --
  STYLE: Lagoona
-- -- -- -- -- -- --
*/

/* ie6win */

/* fixes a repeating character bug in the sidebar column  - hide for IE Mac \*/

* html #sidebar a {
  height: 1px;
}

/*  */

/* fixes the bad support of the boxmodel - hide for IE Mac \*/

* html #twocolumn-left #main-content,
* html #twocolumn-right #main-content {
  width: 475px;
}

/*  */

/* fixes the double margin bug - hide for IE Mac \*/

* html #twocolumn-liquid-left #sidebar {
  margin-left: 1em;
}

/* ie5win */
@media tty { i{content:"\";/*" "*/}} * html td, * html th, * html caption  { font-size: 76%; } * html #main-content .wrapper { padding: 0 1.2em; } * html #threecolumn #main-content { width: 428px; } /*";}
}/* */

/* Basic HTML style
----------------------------------------------- */

a:link {
  margin: -1px;
  padding: 1px;
}

a:visited {
  color: #eeeeee;
}

body {
  font: 76% Helvetica, Arial, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 1em 0;
  font-style: italic;
}

caption {
  font-weight: bold;
  width: inherit;
  padding: 0.3em 1em;
  border-bottom: 1px solid;
}

dd {
  margin: 1em 0;
  padding: 3px;
  border-left: 5px solid;
}

dt {
  font-weight: bold;
}

hr {
  margin: 1em 0;
  border-style: none;
  height: 1px;
}

li {
  margin: 1em 0;
}

td {
  vertical-align: top;
  padding: 0.5em;
  border-bottom: 1px solid;
}

td p {
  margin-top: 0;
  line-height: 1.3em;
}

p, td {
 line-height: 1.3em;
}

th {
  text-align: left;
  border-bottom: 1px solid;
  padding: 0.5em;
}

/* Custom font definitions for Lagoona style
----------------------------------------------- */

p {
  margin: 1em 0;
  line-height: 1.5;
}

p.description {
  margin: 0;
  line-height: 1.5;
  font-style: normal;
  font-size: 1.2em;
}

h1 {
  font-size: 3em;
}

h2 {
  margin: 5px 0 5px 0;
  padding-left: 17px;
  font-size: 2em;
  font-weight: normal;
}

h3 {
  padding: 0 5px 0 17px;
  border-bottom: 1px dotted;
  font-size: 1.6em;
  font-weight: normal;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.2em;
  padding: 3px 0 3px 15px;
  border-top: 1px dotted;
  border-bottom: 1px dotted;
}

h6 {
  font-size: 1em;
  padding-bottom: 3px;
  border-top: 1px dotted;
  border-bottom: 1px dotted;
}

.editable {
  border: #f00 dashed 1px;
  position: relative;
}

/* layout patches
----------------------------------------------- */

#twocolumn-liquid-left #sidebar {
  float: left;
}

#twocolumn-liquid-right #sidebar {
  float: right;
}

#threecolumn #sidebar-alternate {
  float: right;
}


/* Header style
----------------------------------------------- */

#header {
  margin-bottom: 10px;
}

/* The following are to get the header area to be at least 123px so that
   the body text doesn't begin where the header background is.  Just setting
   the height to 123px breaks for most browsers, since it puts the body and
   sidebars on TOP of the header when the header is more than 123px.  Using
   min-height is what we want, but it breaks in the page editor. So we get
   creative here ... */

/* ie6win - hide for IE Mac \*/
/* ie deosn't have min-height, but it uses height as if it were min-height */

* html #header {
  height: 123px;
}

/* Safari/Opera/Firefox - we set the padding of the header to the min height
   we want. This forces it to be at least 123px */
*>#header {
  padding-top: 123px;
}

/* Safari/Opera/Firefox - then we pull the contents up to where we want them */
*>#header .wrapper {
  margin-top: -123px;
}

#header .wrapper {
  padding: 2em;
}

#threecolumn #header .wrapper {
  padding: 2em 0;
}

#twocolumn-left #header .wrapper {
  padding: 2em 2em 2em 0;
}

#twocolumn-right #header .wrapper {
  padding: 2em 0 2em 2em;
}

/* Content column tweaks
----------------------------------------------- */

#main-content .wrapper {
  padding: 0 2em;
}

#main-content blockquote {
  margin: 1em;
}

/* Sidebar style
----------------------------------------------- */

#sidebar {
  margin: 1em 0 0 0;
}

#sidebar .links .wrapper {
  margin-top: 1em;
  padding: 1px 0;
}

#sidebar .links ul {
  margin-top: 1px;
  padding: 0.7em 0 0 1em;
}

#sidebar .links .wrapper ul li {
  background: none;
  padding: 0 0 0.5em 0;
  margin: 0;
}

#sidebar li a:link, #sidebar li a:visited {
  background: none;
  font-weight: normal;
}

#sidebar h3 {
  left: 0;
  line-height: 1;
  margin: 0.5em 0;
  padding-left: 10px;
  background: none;
  border-left: 5px solid;
  border-bottom: none;
}

#sidebar h4 {
  padding: 5px 5px 5px 0;
  border-bottom: 1px dotted;
  border-top: 1px dotted;
}

#sidebar h6 {
  padding: 3px 0 3px 0px;
  margin: 1em 0;
  background: none;
  border-top: 1px dotted;
  border-bottom: 1px dotted;
}

#sidebar p {
  line-height: 1.2em;
  font-size: 90%;
  padding: 0 0 0.3em 1em;
  margin: 0.3em 0 0.7em 0;
}

#adsense {
  margin: 3em 2em;
  text-align: center;
}

/* Footer style
----------------------------------------------- */

#footer {
  padding-top: 0.5em;
  margin: 1em 0;
}

#footer .wrapper {
  margin: 1em 0;
  padding-top: 1em;
  font-size: 0.8em;
  clear: both;
}

#footer hr {
  display: none;
}

/* Tweaks for Three-column layout
----------------------------------------------- */

#sidebar-alternate p {
  line-height: 1.4 em;
  font-size: 92%;
  margin: 0.5em 1em;
}

#sidebar-alternate blockquote {
  margin: 0.5em 0;
}

#sidebar-alternate  {
  margin-top: 2em;
  padding-top: 10px;
}

#sidebar-alternate .wrapper {
  padding: 1px 0 10px 0;
}

.alternate-content h3 {
  padding: 0 0 0 17px;
  margin: 5px;
}

#sidebar-alternate h3 {
  left: 0;
  line-height: 1;
  margin: 0.5em 0 0.3em 0;
  padding: 0 5px 3px 22px;
  background-position: 5px 5px;
  border-bottom: none;
}

#sidebar-alternate h4 {
  padding: 5px 5px 5px 10px;
  border-bottom: 1px dotted;
  border-top: 1px dotted;
}

#sidebar-alternate h5, #sidebar h5 {
  padding: 3px 0 3px 15px;
  margin: 0px;
  border-top: 1px dotted;
  border-bottom: 1px dotted;
}

#sidebar-alternate h6 {
  padding: 3px 0 3px 10px;
  margin: 0.3em 0;
  background: none;
  border-top: 1px dotted;
  border-bottom: 1px dotted;
}

#alternate-content p {
  padding: 10px;
}

#alternate-content blockquote {
  padding: 0;
  margin: 0;
}

#threecolumn #adsense {
  margin: 3em 0 3em 0;
  text-align: left;
}

#sidebar-alternate ul li, #sidebar ul li {
  margin: 0 0.2em 0 0;
}

#sidebar-alternate ol li, #sidebar ol li {
  margin: 0 0.2em 0 0;
}

#sidebar-alternate ul, #sidebar ul, #sidebar-alternate ol, #sidebar ol  {
  padding: 0 0 0 12px;
  margin: 0 1em;
}

/* Tweaks for One-column layout
----------------------------------------------- */

#onecolumn #footer {
  padding: 0 2em;
}

/* Tweaks for Two-column Left layout
----------------------------------------------- */

#twocolumn-left #footer {
  margin: 1em 2em 1em 0;
  padding-bottom: 1px;
}

/* Tweaks for Two-column Right layout
----------------------------------------------- */

#twocolumn-right #footer {
  margin: 1em 0;
  padding: 0.5em 0 1px 2em;
}

/* Tweaks for Two-column Left Liquid layout
----------------------------------------------- */

#twocolumn-liquid-left #footer {
  margin: 1em 2em;
  padding-bottom: 1px;
}

#twocolumn-liquid-left #sidebar {
  margin-left: 2em;
}

/* Tweaks for Two-column Right Liquid layout
----------------------------------------------- */

#twocolumn-liquid-right #footer {
  margin-left: 2em;
  padding-bottom: 1px;
}

#twocolumn-liquid-right #container {
  padding-right: 2em;
}

#twocolumn-liquid-right #header .wrapper {
  padding: 2em 0 2em 2em;
}
