# Copyright 2013 The Closure Library Authors
# Files to be ignored by git.

# Use of this source code is governed by the Apache License, Version 2.0.
# See the COPYING file for details.

# emacs
*~
\#*#

# python
*.pyc

# Node JS
node_modules/
npm-debug.log

# General
.DS_Store
