# -*- protobuffer -*-
# proto-file: devtools/kokoro/config/proto/build.proto
# proto-message: BuildConfig

# Copyright The Closure Library Authors.
# SPDX-License-Identifier: Apache-2.0

build_file: "closure-library-staging/scripts/ci/kokoro/ubuntu/run_ci.sh"
