/*
Use of this source code is governed by an Apache 2.0 License.
See the COPYING file for details.
*/

/*
 * Copyright 2010 Google Inc. All Rights Reserved.
 *
 * Standard styles for RoundedPanel.
 *

 */

.goog-roundedpanel {
  position: relative;
  z-index: 0;
}

.goog-roundedpanel-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.goog-roundedpanel-content {
}
