/*
Use of this source code is governed by an Apache 2.0 License.
See the COPYING file for details.
*/

/*
 * Copyright 2010 Google Inc. All Rights Reserved
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */

.goog-tooltip {
  background: infobackground;
  border: 1px solid infotext;
  color: infotext;
  font: menu;
  padding: 1px;
  z-index: 30000;
}
