/*
Use of this source code is governed by an Apache 2.0 License.
See the COPYING file for details.
*/

/* Copyright 2007 Google Inc.  All Rights Reserved. */
/**/


/* We need goog-inline-block from common.css. */
@import url(common.css);


/* Sample native button styles (not all browsers let you change these). */
.goog-button {
  color: #036;
  border-color: #036;
  background-color: #69c;
}

.goog-button-disabled {
  border-color: #333;
  color: #333;
  background-color: #999;
}

.goog-button-hover {
  color: #369;
  border-color: #369;
  background-color: #9cf;
}

.goog-button-active {
  color: #69c;
  border-color: #69c;
}


/* Flat button styles. */
.goog-flat-button {
  position: relative;
  /*width: 20ex;*/
  margin: 2px;
  border: 1px solid #000;
  padding: 2px 6px;
  font: normal 13px "Trebuchet MS", Tahoma, Arial, sans-serif;
  color: #fff;
  background-color: #8c2425;
  cursor: pointer;
  outline: none;
  -moz-outline: none;
}

.goog-flat-button-disabled {
  border-color: #888;
  color: #888;
  background-color: #ccc;
  cursor: default;
}

.goog-flat-button-hover {
  border-color: #8c2425;
  color: #8c2425;
  background-color: #eaa4a5;
}

.goog-flat-button-active,
.goog-flat-button-selected,
.goog-flat-button-checked {
  border-color: #5b4169;
  color: #5b4169;
  background-color: #d1a8ea;
}

.goog-flat-button-focused {
  border-color: #5b4169;
}

/* Pill (collapsed border) styles. */
.goog-flat-button-collapse-right {
  margin-right: 0;
}

.goog-flat-button-collapse-left {
  margin-left: 0;
  border-left: none;
}


/* Custom button styles. */
.goog-custom-button {
  margin: 2px;
  border: 0;
  padding: 0;
  font: normal Tahoma, Arial, sans-serif;
  color: #000;
  background: #ddd url("../images/button-bg.gif") repeat-x top left;
  text-decoration: none;
  list-style: none;
  vertical-align: middle;
  cursor: default;
  outline: none;
}

/* Pseudo-rounded corners. */
.goog-custom-button-outer-box,
.goog-custom-button-inner-box {
  border-style: solid;
  border-color: #aaa;
  vertical-align: top;
}

.goog-custom-button-outer-box {
  margin: 0;
  border-width: 1px 0;
  padding: 0;
}

.goog-custom-button-inner-box {
  margin: 0 -1px;
  border-width: 0 1px;
  padding: 3px 4px;
  white-space: nowrap; /* Prevents buttons from line breaking on android. */
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-custom-button-inner-box {
  /* IE6 needs to have the box shifted to make the borders line up. */
  left: -1px;
}
/* Pre-IE7 BiDi fixes. */
* html .goog-custom-button-rtl .goog-custom-button-outer-box {
  left: -1px;
}
* html .goog-custom-button-rtl .goog-custom-button-inner-box {
  left: 0;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-custom-button-inner-box {
  /* IE7 needs to have the box shifted to make the borders line up. */
  left: -1px;
}
/* IE7 BiDi fix. */
*:first-child+html .goog-custom-button-rtl .goog-custom-button-inner-box {
  left: 1px;
}

/* Safari-only hacks. */
::root .goog-custom-button,
::root .goog-custom-button-outer-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: 0;
}

::root .goog-custom-button-inner-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: normal;
}

/* Disabled styles. */
.goog-custom-button-disabled {
  background-image: none !important;
  opacity: 0.4;
  -moz-opacity: 0.4;
  filter: alpha(opacity=40);
}

.goog-custom-button-disabled .goog-custom-button-outer-box,
.goog-custom-button-disabled .goog-custom-button-inner-box {
  color: #333 !important;
  border-color: #999 !important;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-custom-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-custom-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}

.goog-custom-button-hover .goog-custom-button-outer-box,
.goog-custom-button-hover .goog-custom-button-inner-box {
  border-color: #9cf #69e #69e #7af !important; /* Hover border wins. */
}

.goog-custom-button-active,
.goog-custom-button-checked {
  background-color: #bbb;
  background-position: bottom left;
}

.goog-custom-button-focused .goog-custom-button-outer-box,
.goog-custom-button-focused .goog-custom-button-inner-box {
  border-color: orange;
}

/* Pill (collapsed border) styles. */
.goog-custom-button-collapse-right,
.goog-custom-button-collapse-right .goog-custom-button-outer-box,
.goog-custom-button-collapse-right .goog-custom-button-inner-box {
  margin-right: 0;
}

.goog-custom-button-collapse-left,
.goog-custom-button-collapse-left .goog-custom-button-outer-box,
.goog-custom-button-collapse-left .goog-custom-button-inner-box {
  margin-left: 0;
}

.goog-custom-button-collapse-left .goog-custom-button-inner-box  {
  border-left: 1px solid #fff;
}

.goog-custom-button-collapse-left.goog-custom-button-checked
.goog-custom-button-inner-box {
  border-left: 1px solid #ddd;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-custom-button-collapse-left .goog-custom-button-inner-box {
  left: 0px;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-custom-button-collapse-left
.goog-custom-button-inner-box {
  left: 0px;
}
