/*
Use of this source code is governed by an Apache 2.0 License.
See the COPYING file for details.
*/

/* Copyright 2007 Google Inc.  All Rights Reserved. */
/**/


/* We need goog-inline-block from common.css, and menu styles from menus.css. */
@import url(common.css);
@import url(menus.css);


/* Menu button styles. */
.goog-menu-button {
  margin: 2px;
  border: 0;
  padding: 0;
  font: normal Tahoma, Arial, sans-serif;
  color: #000;
  background: #ddd url("../images/button-bg.gif") repeat-x top left;
  text-decoration: none;
  list-style: none;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
}

/* Pseudo-rounded corners. */
.goog-menu-button-outer-box,
.goog-menu-button-inner-box {
  border-style: solid;
  border-color: #aaa;
  vertical-align: top;
}

.goog-menu-button-outer-box {
  margin: 0;
  border-width: 1px 0;
  padding: 0;
}

.goog-menu-button-inner-box {
  margin: 0 -1px;
  border-width: 0 1px;
  padding: 3px 4px;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-menu-button-inner-box {
  /* IE6 needs to have the box shifted to make the borders line up. */
  left: -1px;
}
/* Pre-IE7 BiDi fixes. */
* html .goog-menu-button-rtl .goog-menu-button-outer-box {
  left: -1px;
}
* html .goog-menu-button-rtl .goog-menu-button-inner-box {
  left: 0;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-menu-button-inner-box {
  /* IE7 needs to have the box shifted to make the borders line up. */
  left: -1px;
}
/* IE7 BiDi fix. */
*:first-child+html .goog-menu-button-rtl .goog-menu-button-inner-box {
  left: 1px;
}

/* Safari-only hacks. */
::root .goog-menu-button,
::root .goog-menu-button-outer-box,
::root .goog-menu-button-inner-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: 0;
}

::root .goog-menu-button-caption,
::root .goog-menu-button-dropdown {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: normal;
}

/* Disabled styles. */
.goog-menu-button-disabled {
  background-image: none !important;
  opacity: 0.4;
  -moz-opacity: 0.4;
  filter: alpha(opacity=40);
}

.goog-menu-button-disabled .goog-menu-button-outer-box,
.goog-menu-button-disabled .goog-menu-button-inner-box,
.goog-menu-button-disabled .goog-menu-button-caption,
.goog-menu-button-disabled .goog-menu-button-dropdown {
  color: #333 !important;
  border-color: #999 !important;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-menu-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-menu-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}

.goog-menu-button-hover .goog-menu-button-outer-box,
.goog-menu-button-hover .goog-menu-button-inner-box {
  border-color: #9cf #69e #69e #7af !important; /* Hover border wins. */
}

.goog-menu-button-active,
.goog-menu-button-open {
  background-color: #bbb;
  background-position: bottom left;
}

.goog-menu-button-focused .goog-menu-button-outer-box,
.goog-menu-button-focused .goog-menu-button-inner-box {
  border-color: orange;
}

.goog-menu-button-caption {
  padding: 0 4px 0 0;
  vertical-align: top;
}
/* BiDi hack. */
.goog-menu-button-rtl .goog-menu-button-caption {
  padding: 0 0 0 4px;
}

.goog-menu-button-dropdown {
  width: 7px;
  background: url(../images/toolbar_icons.gif) no-repeat -176px;
  vertical-align: top;
}


/* FlatMenuButton styles */

.goog-flat-menu-button {
  margin: 0 2px;
  padding: 1px 4px;
  font: normal 95% Tahoma, Arial, sans-serif;
  color: #333;
  text-decoration: none;
  list-style: none;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  -moz-outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: #c9c9c9;
  background-color: #fff;
}

.goog-flat-menu-button-disabled * {
  color: #999;
  border-color: #ccc;
  cursor: default;
}

.goog-flat-menu-button-hover,
.goog-flat-menu-button-hover {
  border-color: #9cf #69e #69e #7af !important; /* Hover border wins. */
}

.goog-flat-menu-button-active {
  background-color: #bbb;
  background-position: bottom left;
}

.goog-flat-menu-button-focused {
  border-color: orange;
}

.goog-flat-menu-button-caption {
  padding-right: 10px;
  vertical-align: top;
}

.goog-flat-menu-button-dropdown {
  width: 7px;
  background: url(../images/toolbar_icons.gif) no-repeat -176px;
  vertical-align: top;
}

/*
 * goog.ui.SelectionMenuButton
 */
.goog-selectionmenubutton-checkbox {
  margin: -4px 0px 0px 0px;
}
