/*
Use of this source code is governed by an Apache 2.0 License.
See the COPYING file for details.
*/

/* Copyright 2007 Google Inc.  All Rights Reserved. */
/**/

.goog-palette {
  margin: 10px;
  cursor: default;
  outline: none;
}

.goog-palette-table {
  border: 1px solid #666;
  border-collapse: collapse;
}

.goog-palette-cell {
  height: 16px;
  width: 16px;
  margin: 0;
  border: 0;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid #666;
}

.goog-palette-active {
}

.goog-palette-cell-hover {
}

.goog-palette-cell-selected {
}


.goog-palette-colorswatch {
  position: relative;
  height: 16px;
  width: 16px;
  font-size: x-small;
}


.goog-palette-cell-hover .goog-palette-colorswatch {
  height: 14px;
  width: 14px;
  border: 1px solid #FFF;
}

.goog-palette-cell-selected .goog-palette-colorswatch {
  height: 14px;
  width: 14px;
  border: 1px solid #333;
  color: #fff;
  font-weight: bold;
  background-image: url(../images/color-swatch-tick.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

.goog-palette-customcolor {
  position: relative;
  height: 14px;
  width: 14px;
  font-size: x-small;
  background-color: #FAFAFA;
  color: #666;
  border: 1px solid #EEE;
}

.goog-palette-cell-hover .goog-palette-customcolor {
  background-color: #FEE;
  border: 1px solid #F66;
  color: #F66;
}