
body {
  font: .8em/1.4 Arial, sans;
  color: #4d4d4d;
  background: #fff;
}

a, a:hover, a:visited {
  text-decoration: none;
}

a img {
  border: 0;
}

a, a:link {
  color: #0000cc;
}

a:active {
  color: #ff0000;
}

a:visited {
  color: #551a8b;
}

hr {
  clear: both;
  display: block;
  visibility: hidden;
}

pre {
  margin: 3px 2px;
  padding-top: 0px;
  font-family: courier;
  font-size: 0.9em;
  line-height: 1.2;
}

pre.inheritance {
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

table {
  border-collapse: collapse;
  font: inherit;
}

div.header {
  margin-left: 160px;
}

div.clear {
  clear: both;
}

/*** START g-base.css ***/
/**
 * g-section fundamentally has to clear floats. There are many ways to do this.
 * This technique is nice because it doesn't rely on overflow: hidden, which
 * has the potential to hide your content in situations where a fixed size
 * node takes up too much space (like a big table, or a text input or image.
 * Works in Webkit, IE8, and FF3.
 */
.g-section {
  width: 100%;
  vertical-align: top;
  display: inline-block;
}

/**
 * IE7-only hack. Nicely IE7 will clear floats with just block display
 * and hasLayout.
 */
*:first-child+html .g-section {
  display: block;
}

/**
 * IE6 cannot hang with overflow: visible. If we use the IE7 display block
 * trick in IE6 we get severe float drop in nested grids.
 */
* html .g-section {
  overflow: hidden;
}

/* FF2 can't actually hang with overflow: visible. */
@-moz-document url-prefix() {
  .g-section {
    overflow: hidden;
  }
}

/**
 * FF3 now needs to be reset after the previous block which affects it as well.
 * We target the tt element in this hack because no one uses it.
 */
@-moz-document url-prefix() {
  .g-section,tt:default {
    overflow: visible;
  }
}

/* Forces "hasLayout" fixing a gamut of bugs in <= IE7. */
.g-section,
.g-unit {
  zoom: 1;
}

/* Used for splitting a template's units text-alignment to the outer edges. */
.g-split .g-unit {
  text-align: right;
}
.g-split .g-first {
  text-align: left;
}
/*** END g-base.css  ***/

.g-tpl-75-25 .g-unit {
  width: 24.5%;
  float: right;
}

.g-tpl-75-25 .g-first {
  width: 74.5%;
  float: left;
}
.g-tpl-50-50 .g-unit {
  width: 49.999%;
  float: right;
}
.g-tpl-50-50 .g-first {
  float: left;
}

/* Template 20/80 */
.g-tpl-20-80 {
  padding: 1em;
  display: inline;
  clear: both;
}

.g-tpl-20-80 .g-unit {
  width: 82.5%;
  float: right;
  margin: 0;
  text-align: left;
}

.g-tpl-20-80 .g-first {
  width: 17.5%;
  float: left;
  text-align: right;
}


/* page header */
#header {
  color: #000;
  background-color: #c3d9ff;
  padding: 0 4px 2px 8px;
  margin-bottom: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#header .g-section,
#header .g-unit {
  margin: 0;
}

#logo {
  display: block;
  font-size: 120%;
  font-weight: bold;
  color: #000;
  background: url(../images/16px.png) 0 .3em no-repeat;
  padding: .3em 0 0 20px;
}

#header .g-c {
  margin-top: 3px;
}

#ac {
  width: 200px;
  margin: 0;
  padding: 0;
}

#whatitis h1 {
  color: #000;
}

#whatitis a {
  color: #668CD9;
}

.ac-renderer {
  position: absolute;
  width: 350px;
  background-color: #fff;
  border: 1px solid #666;
  -moz-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  -webkit-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  font-size: 90%;
}

.ac-renderer div {
  position: relative;
  padding: .4em;
  cursor: pointer;
}

.ac-renderer div.active {
  background-color: #e5ecf9;
}

.gdoc-ac-class-icon {
  vertical-align: middle;
  height: 16px;
  width: 16px;
  background-position: -70px -24px;
}

.gdoc-ac-file-icon {
  vertical-align: middle;
  height: 16px;
  width: 16px;
  background-position: -48px -24px;
}

.goog-zippy-expanded td img {
  margin-top: 1px;
  background-image: url('../images/minus.png');
}

.goog-zippy-collapsed td img {
  margin-top: 1px;
  background-image: url('../images/plus.png');
}

.col2-c {
  border: 1px solid #e9e9e9;
  margin: 22px 0 0 0;
  padding: 0 0 .5em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.col2-c h2 {
  font-size: 1.2em;
  font-weight: bold;
  color:black;
  border-bottom: 1px solid #e9e9e9;
  padding: 3px;
  margin: 0 5px;
}

html>body .goog-inline-block {
  display: -moz-inline-box;
  display: inline-block;
}

.goog-inline-block {
  position: relative;
  display: inline-block;
}

* html .goog-inline-block {
  display: inline;
}

*:first-child+html .goog-inline-block {
  display: inline;
}

.gviz-org-chart-container {
  margin: 1em;
}
