/* Copyright 2007 Google Inc.  All Rights Reserved. */
/* Author: arv@google.com (Erik Arvidsson) */
/* Author: eae@google.com (Emil A Eklund) */
/* Author: jonp@google.com (Jon Perlow) */

.goog-tree-root:focus {
  -moz-outline: none;
  outline: none;
}

.goog-tree-row {
  white-space: nowrap;
  font: icon;
  line-height: 20px;
  height: 16px;
}

.goog-tree-row span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.goog-tree-children {
  padding-left: 5px;
  background-repeat: repeat-y;
  background-image: url("../images/blank.gif") !important;
  /* background-image: url("../images/I.png") !important; */
  background-position-y: 1px !important;	/* IE only */
}

.goog-tree-children-nolines {
  font: icon;
}

.goog-tree-icon {
  /*background-image: url("../images/blank.gif") */
  background-image: url("../images/sidetree.png");
}

.goog-tree-children .goog-tree-children {
  padding-left: 0;
}

.goog-tree-expand-icon {
  vertical-align: middle;
  height: 1.6em;
  width: 16px;
  cursor: default;
}

.goog-tree-expand-icon-plus {
  width: 19px;
  background-position: 0 0;
}

.goog-tree-expand-icon-minus {
  width: 19px;
  background-position: -24px 0;
}

.goog-tree-expand-icon-tplus {
  width: 19px;
  background-position: -48px 0;
}

.goog-tree-expand-icon-tminus {
  width: 19px;
  background-position: -72px 0;
}

.goog-tree-expand-icon-lplus {
  width: 19px;
  background-position: -96px 0;
}

.goog-tree-expand-icon-lminus {
  width: 19px;
  background-position: -120px 0;
}

.goog-tree-expand-icon-t {
  width: 19px;
  background-position: -144px 0;
}

.goog-tree-expand-icon-l {
  width: 19px;
  background-position: -168px 0;
}

.goog-tree-expand-icon-blank {
  width: 19px;
  background-position: -168px -24px;
}

.goog-tree-collapsed-folder-icon {
  vertical-align: middle;
  height: 0px;
  width: 0px;
  background-position: -0px -24px;
}

.goog-tree-expanded-folder-icon {
  vertical-align: middle;
  height: 0px;
  width: 0px;
  background-position: -24px -24px;
}

.gdoc-tree-class-icon {
  vertical-align: middle;
  height: 0px;
  width: 0px;
  background-position: -70px -24px;
}

.gdoc-tree-file-icon {
  vertical-align: middle;
  height: 0px;
  width: 0px;
  background-position: -48px -24px;
}

.goog-tree-item-label {
  margin-left: 3px;
  padding: 1px 2px 1px 2px;
  text-decoration: none;
  color: WindowText;
  cursor: default;
}

.goog-tree-item-label:hover {
  text-decoration: underline;
}

.focused .selected .goog-tree-item-label {
  background-color: Highlight;
  color: HighlightText;
}

.goog-tree-hide-root {
  display: none;
}

.gdoc-tree-class-label a {
  color: #668CD9;
  font-weight: bold;
  font-family: Arial;
}

.gdoc-tree-namespace-label {
  color: black;
  font-weight: bold;
  font-family: Arial;
}

.goog-tree-row {
  font-size: 1em;
  padding: 2px;
}

/* rules for current page highlighting */

#localView .current {
  margin-left: -10px;
  padding-left: 18px;
  background: url("../images/bluearrow.png") no-repeat;
  background-color: #668CD9;
}

.current span a, div.current a {
  color: white;
  font-weight: bold;
}

#localView div {
  line-height: 18px;
  font-weight: bold;
  padding-left: 8px;
}

div#localView div a {
  color: #668CD9;
  font-weight: bold;
}

div#localView div.current a {
  color: white;
  font-weight: bold;
}

div#localView {
  padding-top: 5px;
}

/* Hides the selected tree text node in the right column since it's empty. */
.col2-c .goog-tree-root > .goog-tree-row {
  display: none;
}
