
.entryNamespace {
  font-size: 87%;
  color: #888888;
}

/*
 * Styles used by goog.ui.RoundedTabRenderer.
 */
.goog-rounded-tab {
  border: 0;
  padding: 0;
  cursor: default;
}

.goog-tab-bar-top .goog-rounded-tab,
.goog-tab-bar-bottom .goog-rounded-tab {
  margin: 0 4px 0 0;
  float: left;
}

.goog-tab-bar-start .goog-rounded-tab,
.goog-tab-bar-end .goog-rounded-tab {
  margin: 0 0 4px 0;
}

.goog-rounded-tab-caption {
  margin: 0;
  border: 0;
  padding: 4px 8px;
  color: #fff;
}

.goog-rounded-tab-caption,
.goog-rounded-tab-inner-edge,
.goog-rounded-tab-outer-edge {
  background: #036;
  border-right: 1px solid #003;
}

.goog-rounded-tab-inner-edge,
.goog-rounded-tab-outer-edge {
  height: 1px;
  font-size: 1px;
  overflow: hidden;
}

/* State: Hover */
.goog-rounded-tab-hover .goog-rounded-tab-caption,
.goog-rounded-tab-hover .goog-rounded-tab-inner-edge,
.goog-rounded-tab-hover .goog-rounded-tab-outer-edge {
  background-color: #69c;
  border-right: 1px solid #369;
}

/* State: Disabled */
.goog-rounded-tab-disabled .goog-rounded-tab-caption,
.goog-rounded-tab-disabled .goog-rounded-tab-inner-edge,
.goog-rounded-tab-disabled .goog-rounded-tab-outer-edge {
  background: #ccc;
  border-right: 1px solid #ccc;
}

/* State: Selected */
.goog-rounded-tab-selected .goog-rounded-tab-caption,
.goog-rounded-tab-selected .goog-rounded-tab-inner-edge,
.goog-rounded-tab-selected .goog-rounded-tab-outer-edge {
  background: #369 !important; /* Selected trumps hover. */
  border-right: 1px solid #036 !important;
}


/*
 * Styles for horizontal (top or bottom) tabs.
 */
.goog-tab-bar-top .goog-rounded-tab {
  vertical-align: bottom;
}

.goog-tab-bar-bottom .goog-rounded-tab {
  vertical-align: top;
}

.goog-tab-bar-top .goog-rounded-tab-outer-edge,
.goog-tab-bar-bottom .goog-rounded-tab-outer-edge {
  margin: 0 3px;
}

.goog-tab-bar-top .goog-rounded-tab-inner-edge,
.goog-tab-bar-bottom .goog-rounded-tab-inner-edge {
  margin: 0 1px;
}


/*
 * Styles for vertical (start or end) tabs.
 */
.goog-tab-bar-start .goog-rounded-tab-table,
.goog-tab-bar-end .goog-rounded-tab-table {
  width: 100%;
}

.goog-tab-bar-start .goog-rounded-tab-inner-edge {
  margin-left: 1px;
}

.goog-tab-bar-start .goog-rounded-tab-outer-edge {
  margin-left: 3px;
}

.goog-tab-bar-end .goog-rounded-tab-inner-edge {
  margin-right: 1px;
}

.goog-tab-bar-end .goog-rounded-tab-outer-edge {
  margin-right: 3px;
}


/*
 * Overrides for start tabs.
 */
.goog-tab-bar-start .goog-rounded-tab-table,
.goog-tab-bar-end .goog-rounded-tab-table {
  width: 12ex; /* TODO(attila): Make this work for variable width. */
}

.goog-tab-bar-start .goog-rounded-tab-caption,
.goog-tab-bar-start .goog-rounded-tab-inner-edge,
.goog-tab-bar-start .goog-rounded-tab-outer-edge {
  border-left: 1px solid #003;
  border-right: 0;
}

.goog-tab-bar-start .goog-rounded-tab-hover .goog-rounded-tab-caption,
.goog-tab-bar-start .goog-rounded-tab-hover .goog-rounded-tab-inner-edge,
.goog-tab-bar-start .goog-rounded-tab-hover .goog-rounded-tab-outer-edge {
  border-left: 1px solid #369 !important;
  border-right: 0 !important;
}

.goog-tab-bar-start .goog-rounded-tab-selected .goog-rounded-tab-outer-edge,
.goog-tab-bar-start .goog-rounded-tab-selected .goog-rounded-tab-inner-edge,
.goog-tab-bar-start .goog-rounded-tab-selected .goog-rounded-tab-caption {
  border-left: 1px solid #036 !important;
  border-right: 0 !important;
}

.goog-tab-bar-start .goog-rounded-tab-disabled .goog-rounded-tab-outer-edge,
.goog-tab-bar-start .goog-rounded-tab-disabled .goog-rounded-tab-inner-edge,
.goog-tab-bar-start .goog-rounded-tab-disabled .goog-rounded-tab-caption {
  border-left: 1px solid #ccc !important;
  border-right: 0 !important;
}
/*
 * Styles used by goog.ui.TabBarRenderer.
 */
.goog-tab-bar {
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
  cursor: default;
  outline: none;
}

.goog-tab-bar-clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.goog-tab-bar-start {
  float: left;
}

.goog-tab-bar-end {
  float: right;
}


/*
 * IE6-only hacks to fix the gap between the floated tabs and the content.
 * IE7 and later will ignore these.
 */
/* @if user.agent ie6 */
* html .goog-tab-bar-start {
  margin-right: -3px;
}

* html .goog-tab-bar-end {
  margin-left: -3px;
}
/* @endif */

/* Copyright 2008 Google Inc.  All Rights Reserved. */
/* Author: attila@google.com (Attila Bodis) */
/* Author: eae@google.com (Emil A. Eklund) */


/*
 * Styles used by goog.ui.TabRenderer.
 */
.goog-tab {
  position: relative;
  border: 1px solid #e9e9e9;
  padding: 4px 8px;
  background: #ddd;
  cursor: default;
}

.goog-tab-bar-top .goog-tab {
  margin: 1px 4px 0 0;
  border-bottom: 0;
  float: left;
}

.goog-tab-bar-bottom .goog-tab {
  margin: 0 4px 1px 0;
  border-top: 0;
  float: left;
}

.goog-tab-bar-start .goog-tab {
  margin: 0 0 4px 1px;
  border-right: 0;
}

.goog-tab-bar-end .goog-tab {
  margin: 0 1px 4px 0;
  border-left: 0;
}

/* State: Hover */
.goog-tab-hover {
  background: #eee;
}

/* State: Disabled */
.goog-tab-disabled {
  color: #fff;
  background: #ccc;
  border-color: #ccc;
}

/* State: Selected */
.goog-tab-selected {
  background: #fff !important; /* Selected trumps hover. */
  font-weight: bold;
}


/*
 * Shift selected tabs 1px towards the contents (and compensate via margin and
 * padding) to visually merge the borders of the tab with the borders of the
 * content area.
 */
.goog-tab-bar-top .goog-tab-selected {
  top: 1px;
  margin-top: 0;
  padding-bottom: 5px;
}

.goog-tab-bar-bottom .goog-tab-selected {
  top: -1px;
  margin-bottom: 0;
  padding-top: 5px;
}

.goog-tab-bar-start .goog-tab-selected {
  left: 1px;
  margin-left: 0;
  padding-right: 9px;
}

.goog-tab-bar-end .goog-tab-selected {
  left: -1px;
  margin-right: 0;
  padding-left: 9px;
}

.goog-tab-content {
  margin: 0;
  border: 1px solid #e9e9e9;
  padding: 4px 8px;
  background: #fff;
  overflow: auto;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.backPage {
  display: none;
}

#loading {
  margin-top: .5em;
}

#loading img {
  position: relative;
  top: .2em;
}

#tabbar {
  margin-top: 1em;
}

#example-img {
  margin-top: 1em;
  display: block;
}