name: Draft GitHub Release

on:
  push:
    branches: [ master ]

jobs:
  draft-github-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
        with:
          # We need to fetch the full repository in order to write complete
          # release notes.
          fetch-depth: 0
      - uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
        with:
          node-version: current
      - name: Run Release Draft Script
        run: |
          cd scripts/release
          npm ci
          npm start
        env:
          # A GitHub API token is required to create a new GitHub release.
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
